body{
    height: 100vh; 
    background: linear-gradient(red,orange);
}
.üst_tasarım{
    display: flex;
    align-items: center;
}
.üst_tasarım a{
    color: white;
    text-decoration: none;
    margin-left: 30px;
}
.orta_tasarım{
    margin-top: 300px;
    align-items: center;
    display: flex;
}
.orta_tasarım img{
    height: 400px;
}
.kadro{
    margin-left: 600px;
}